@import "tailwindcss";

.header-bg-gradient {
  background: linear-gradient(
    180deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(10, 6, 26, 1) 100%
  );
}

.introduction-bg-gradient {
  background: linear-gradient(
    180deg,
    rgb(10, 5, 31) 0%,
    rgba(11, 14, 17, 1) 100%
  );
}

.features-bg-gradient {
  background: linear-gradient(
    180deg,
    rgba(11, 14, 17, 1) 0%,
    rgba(10, 10, 10, 1) 100%
  );
}

.hero {
  background: url("/public/images/hero-bg.jpg") no-repeat center center/cover;
}
